@f5f5f5: #f5f5f5;
@6C6C6C: #6C6C6C;
@3C3C3C: #3C3C3C;
@borderhover: #dfdfe4;
* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}
//搜索栏宝贝、天猫背景
.getbg{
    background: #f40;
}
.rmbg{
    background: rgba(255, 0, 54, 1);
}
//字体淘宝色
.f40{
    color:#f40 !important;
}
.box {
    background: @f5f5f5;
    font-size: 12px;
    a {
        color: @6C6C6C;
    }
    b {
        color: @3C3C3C;
        font-weight: 100;
    }
}

.container {
    width: 1190px;
    margin: 0 auto;
}

.nav {
    height: 35px;
    line-height: 33px;
    span {
        width: 0;
        height: 0;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-top: 4px solid @6C6C6C;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    i {
        font-size: 12px;
        margin-right: 4px;
        &:not(.icon-favor_fill_light) {
            color: #f40;
        }
    }
    >ul:first-child {
        float: left;
        >li {
            float: left;
            >a {
                padding: 0 5px 0 10px;
                &:hover {
                    color: #f40;
                }
            }
        }
        >li:nth-child(2) {
            color: #f40;
        }
    }
    >ul:last-child {
        float: right;
        >li {
            float: left;
            >a {
                padding: 0 5px 0 10px;
                &:hover {
                    color: #f40;
                }
            }
        }
    }
    .nav-show {
        position: relative;
        div {
            position: relative;
            border: 1px solid @f5f5f5;
            height: 35px;
            z-index: 2;
            padding: 0 0 0 4px;
            line-height: 31px;
            a {
                &:hover {
                    color: #f40;
                }
            }
        }
        &:hover div {
            background: #fff;
            border: 1px solid @borderhover;
            border-bottom: none;
        }
        ul {
            position: absolute;
            background: #ccc;
            top: 34px;
            border: 1px solid @borderhover;
            background: #fff;
            width: 85px;
            display: none;
            z-index: 1;
            li {
                padding: 2px 4px;
                &:hover {
                    background: @f5f5f5;
                }
            }
        }
        &:hover ul {
            display: block;
        }
        .nav-sel {
            width: 200px;
            border-top: 1px solid @borderhover;
            top: 34px;
            max-height: 245px;
            overflow-y: scroll;
            a {
                display: block;
            }
        }
    }
}

.white {
    background: #fff;
}

.search {
    padding: 30px 0 0 0;
    .logo {
        width: 190px;
        height: 90px;
        text-align: center;
        float: left;
    }
    .input {
        float: left;
        margin-left: 100px;
        .search-up {
            a {
                width: 50px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                display: block;
                float: left;
                font-size: 12px;
                color:black;
                &:hover{
                    color:black;
                }
                
            }
        }
        //      .search-middle {
        //          background: #FF4400;
        //          input{
        //              width: 500px;
        //              height: 40px;
        //              padding: 0 6px;
        //              border: 3px solid #f40;
        //              outline: none;
        //              font-size: 13px;
        //              display: inline-block;
        //              vertical-align: middle
        //          }
        //          button{
        //              width: 125px;
        //              height: 40px;
        //              outline: none;
        //              border: none;
        //              background: #FF4400;
        //              display: inline-block;
        //              vertical-align: middle
        //          }
        //         
        //      }
        .search-middle {
            position: relative;
            input {
                width: 500px;
                float: left;
                height: 40px;
                padding: 5px;
                border: 3px solid #f40;
                outline: 0;
            }
            button {
                width: 125px;
                float: left;
                border: 0;
                background: #f40;
                height: 40px;
                outline: 0;
            }
            i:nth-of-type(1) {
                position: absolute;
                top: 12px;
                left: 15px;
            }
            i:nth-of-type(2) {
                position: absolute;
                top: 12px;
                right: 137px;
               
            }
            label{
                position: absolute;
                left:35px;
                top:11px;
                font-size: 12px;
                color: #ccc;
            }
            .searchend{
                position:absolute;
                //left:0px;
                top:40px;
                //border: 1px solid #969896;
                width: 500px;
                z-index: 1;
                li{
                    background: #fff;
                    color:black;
                    padding: 2px 8px ;
                    &:hover{
                        background: #f1f1f1;
                    }
                    
                }
            }
        }
        .search-bottom {
            height: 25px;
            width: 585px;
            padding: 3px 0 0 0;
            float: left;
            overflow: hidden;
            a {
                font-size: 12px;
                margin-right: 5px;
                color: #666;
                &:hover {
                    color: #f40;
                }
            }
            
        }
        .more{
            float: left;
            width: 40px;
            height: 25px;
            line-height: 25px;
            a {
                font-size: 12px;
                
                color: #666;
                &:hover {
                    color: #f40;
                }
            }
        }
    }
    .ad {
        float: right;
        .delete {
            float: left;
            width: 20px;
            height: 20px;
            text-align: center; //父盒子
            border: 1px solid #eeeeee;
            border-right: none;
            i {
                vertical-align: middle;
            }
        }
        .phone {
            float: left;
            text-align: center;
            padding: 4px 6px 0px 6px;
            border: 1px solid #eeeeee;
            span {
                display: block;
                font-size: 14px;
                color: #f40;
                margin-bottom: 5px;
            }
            a {
                width: 74px;
                height: 84px;
                display: block;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.title {
    margin-top: -15px;
    // background: #fff;
    div {
        float: left;
    }
    div:nth-of-type(1) {
        width: 190px;
        height: 35px;
        background: #ff6a05;
        line-height: 35px;
        padding: 0 7px;
        h3 {
            float: left;
            color: #fff;
        }
        i {
            color: white;
            float: right;
            font-size: 21px;
        }
    }
    div:nth-of-type(2) {
        ul:nth-of-type(1) {
            li {
                font-size: 16px;
                a {
                    color: #f40;
                }
            }
        }
        ul {
            float: left;
            margin-left: 14px;
            li {
                float: left;
                line-height: 26px;
                padding: 3px 10px;
                font-size: 14px;
                font-weight: 700;
                border-radius: 30px;
                &:hover {
                    background: #f40;
                    a {
                        color: #fff;
                    }
                }
                a {
                    color: @3C3C3C;
                }
            }
        }
        span {
            display: block;
            float: left;
            height: 15px;
            width: 1px;
            background-color: #ebebeb;
            position: relative;
            top: 10px;
            margin: 0 5px;
        }
    }
}

.banner {
    &>div{
        float: left;
    }
    .b-l {
        ul {
            li {
                color: #FFF;
                font-weight: 700;
                height: 30px;
                width: 190px;
                line-height: 30px;
                padding: 0 5px;
                background: #ff6904;
                b {
                    line-height: 30px;
                }
                span {
                    display: inline-block;
                    overflow: hidden;
                    width: 134px;
                    a {
                        color: #FFF;
                        font-size: 13px;
                        vertical-align: top;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                i {
                    display: inline-block;
                    vertical-align: top;
                }
                i:nth-of-type(1) {
                    color: rgba(0, 0, 0, .5);
                }
                &:hover {
                    background: #f94a14;
                    i:nth-of-type(1) {
                        color: rgba(0, 0, 0, 1);
                    }
                }
                i:nth-of-type(2) {
                    color: #FFF;
                    //float: right;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
    }
    .b-m {
        margin-left: 10px;
        margin-top: 10px;
        width: 700px;
        .bm-l {
            float: left;
            >div {
                width: 520px;
            }
            .bm-t {
                height: 280px;
                overflow: hidden;
                .imgs{
                    width: 2600px;
                    
                    li{
                        float: left;
                        width: 520px;
                        height: 280px;
                    }
                }
            }
            .bm-b {
                height: 230px;
                >div {
                    width: 520px;
                }
                >div:nth-of-type(1) {
                    margin-top: 1px;
                    height: 28px;
                    //background: green;
                    border-bottom: 2px solid #c12c26;
                    position: relative;
                    h2 {
                        padding: 0 0 0 52px;
                        position: relative;
                        top: 8px;
                        display: inline-block;
                    }
                    img {
                        position: absolute;
                        width: 48px;
                        top: -22px;
                        left: 0;
                    }
                    span {
                        color: #666;
                        font-size: 12px;
                        position: relative;
                        top: 7px;
                    }
                    div {
                        float: right;
                        font-size: 12px;
                        position: relative;
                        top: 10px;
                    }
                    em {
                        color: #c12c26;
                    }
                }
                >div:nth-of-type(2) {
                    height: 201px;
                    background: #CCCCCC;
                    overflow: hidden;
                    ul {
                        display: block;
                        width: 520*6px;
                        height: 100%;
                        background: #fff;
                        li {
                            display: block;
                            float: left;
                            width: 520px;
                            height: 100%;
                            >div {
                                width: 50%;
                                height: 100%;
                                float: left;
                                padding: 23px 5px;
                            }
                            >div:nth-of-type(1) {}
                            >div:nth-of-type(2) {}
                        }
                    }
                }
            }
        }
        .bm-r {
            float: left;
            .bm-t {
                width: 160px;
                height: 280px;
                margin: 0px 10px;
                background: greenyellow;
            }
            .bm-b {
                width: 160px;
                height: 200px;
                background: gold;
                margin: 0px 10px;
            }
            span {
                color: #666;
                font-size: 12px;
                display: block;
                height: 31px;
                line-height: 31px;
                margin-left: 10px;
            }
        }
    }
    .b-r {
        width: 290px;
        margin-top: 10px;
        .br-t {
            height: 167px;
            background: url(../images/background.png) no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            text-align: center;
            font-size: 13px;
            >a {
                display: block;
                margin: 0 auto;
                padding: 7px 0;
                img {
                    border-radius: 50%;
                }
            }
            >span {
                display: block;
            }
            >p {
//             padding: 5px 0;
                display: block;
                height: 25px;
                line-height: 25px;
                a {
                    color: #f40;
                    display: inline-block;
                    vertical-align: top;
                }
                span {
                    display: inline-block;
                    vertical-align: top;
                }
                i {
                    margin-right: 2px;
                    color: #f5d043;
                    font-size: 18px;
                    display: inline-block;
                    //vertical-align: ;
                }
            }
            button {
                a {
                    color: #fff;
                }
                font-size:14px;
                border:0;
                background: #f40;
                height: 30px;
                width: 92px;
            }
        }
        .br-m{
            text-align: center;
            a{
                height: 32px;
                line-height: 32px;
                font-size:12px;
                color:#f40;
                display: block;
                background: #ffe4dd;
            }
        }
        .br-b{
            >.bt{
                padding: 7px 0 0 0;
                ul{
                padding: 0 10px;
                text-align: center;
                li{
                    float: left;
                    width: 44px;
                    height: 24px;
                    font-size:12px;
                    line-height: 24px;
                    margin: 0 5px;
                    color:#3C3C3C;
                    &:hover{
                        font-weight:700;
                        color:black;
                        border-bottom: 2px solid #ff4400;
                    }
                }
            }
            }
            .bb{
                padding: 0 5px 10px 5px ;
                ul{
                    
                    li{
                        float: left;
                        width: 50%;
                        overflow: hidden;
                        font-size: 12px;
                        color:@3C3C3C;
                        height: 25px;
                        line-height: 25px;
                    }
                }
            }
            
            
        }
        .smallbox{
                ul{
                    width: 100%;
                    li{
                        width: 25%;
                        float: left;
                        display: block;
                        text-align: center;
                        font-size: 12px;
                        height: 69px;
                        
                        border-top:1px solid #f1f1f1;
                        border-right: 1px solid #f1f1f1;
                        &:nth-of-type(4){
                            border-right: none;
                       
                        }
                        &:nth-of-type(8){
                            
                       border-right: none;
                        }
                        &:nth-of-type(12){
                            
                       border-right: none;
                        }
                        a{
                            color:#666;
                            &:hover{
                                color:#f40;
                            }
                        }
                        i{
                            display: block;
                            font-size: 30px;
                            padding: 6px 0;
                          
                        }
                        
                    }
                }
            }

    }
}

            //banner 下方
.hor{
    
    ul{
        width: 900px;
        
        li{
            width: 20%;
            padding: 10px 5px;
            float: left;
            height: 76px;
            
            a{
                display: block;
                div{
                    width: 50%;
                    float: left;
                    &:nth-of-type(1){
                        text-align: center;
                        }
                    img{
                        border-radius: 50%;
                        width: 80%;
                    }
                    span{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

//banner图按钮布局
.gz-banner {
    position: relative;
    &:hover {
        cursor: pointer;
    }
    .gz-button {
        div {
            width: 24px;
            height: 36px;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            top: 50%;
            margin-top: -25px;
            text-align: center;
            line-height: 36px;
            color: #FFF;
        }
        div:nth-of-type(1) {
            left: 0;
            i {
                display: block;
                transform: rotate(180deg);
            }
        }
        div:nth-of-type(2) {
            right: 0;
        }
    }
    .gz-hover {
        ul {
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -32.5px;
            width: 65px;
            height: 13px;
            background: rgba(255, 255, 255, 0.3);
            li {
                float: left;
                width: 9px;
                height: 9px;
                margin: 2px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.8);
            }
        }
    }
}